.callback {

  &__pic {
    line-height: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    max-width: calc(100% - 620px);
    pointer-events: none;

    @media all and (max-width: 1279px) {
      max-width: calc(100% - 520px);
    }

    @media all and (max-width: 1024px) and (min-width: 640px) {
      display: none;
    }

    @media all and (max-width: 639px) {
      max-width: unset;
      position: static;
      margin: -90px -32px -32px;
    }

    @media all and (max-width: 479px) {
      margin: -90px -16px -24px;
    }

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__inner {
    background-color: rgba(199, 244, 233, 1);
    border-radius: var(--radius-lg);
    padding: 52px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 395px;

    @media all and (max-width: 639px) {
      flex-direction: column-reverse;
    }

    //&:before {
    //  @include pseudo();
    //  top: 0;
    //  left: 0;
    //  right: 0;
    //  bottom: 0;
    //  pointer-events: none;
    //  //background-image: url("../images/form-terminal.png");
    //  @include bg-op(40%, left center, no-repeat);
    //}

    &.form-success {
      display: flex;
      justify-content: center;
      text-align: center;
      .callback__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @media all and (max-width: 639px) {
        padding-bottom: 40px;
      }

      .success-icon {
        width: 50px;
        height: 50px;
        margin: 0 auto 20px;
        border-radius: 50%;
        background-color: var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          max-width: 80%;
          max-height: 80%;
        }
      }
    }

    @media all and (max-width: 639px) {
      padding: 32px;
    }

    @media all and (max-width: 479px) {
      padding: 24px 16px;
    }

    @media all and (max-width: 480px) {
      &:before {
        //@include bg-op(75%, center bottom, no-repeat);
      }
    }

    @media all and (max-width: 380px) {
      &:before {
        //@include bg-op(90%, center bottom, no-repeat);
      }
    }

    @media all and (max-width: 360px) {
      &:before {
        @include bg-op(340px, right 30% bottom, no-repeat);
      }
    }
  }

  &__head {
    margin-bottom: 32px;
    @media all and (max-width: 639px) {
      text-align: center;
    }
  }

  &__col {
    max-width: 620px;
    width: 100%;
    margin-left: auto;

    @media all and (max-width: 1279px) {
      max-width: 520px;
    }

    @media all and (max-width: 1024px) {
      width: 100%;
      max-width: unset;
    }
    .success {
      line-height: 1.2;
      .sub {
        margin-top: 5px;
        @media all and (max-width: 480px) {
          margin-top: 20px;
        }
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 16px;
    @media all and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__desc {
    font-size: 18px;
  }

  &__form {
    .error-message {
      padding: 10px;
      color: var(--color-white);
      background-color: tomato;
      border-radius: var(--radius-lg);
      margin-bottom: 18px;
    }

    .lp-button {
      max-width: 237px;
      width: 100%;
    }

    @media all and (max-width: 639px) {
      .lp-button {
        max-width: unset;
        width: 100%;
      }
    }
  }
}