<section id="banner">
    <div class="banner">
        <div class="container">
            <div class="banner__inner">
                <div class="banner__left">
                    <h1 class="banner__title">
                        {{{banner.title}}}
                    </h1>
                    <div class="banner__subtitle">
                        <span>{{{banner.subtitle}}}</span>
                    </div>
                    {{> button title=banner.button.text link=banner.button.url selectors="primary"}}
                </div>
                <div class="banner__right"></div>
            </div>
        </div>
    </div>
</section>