<button class="header__burger" data-modal-target="burgerDrawer" data-drawer="true">
    <span></span>
</button>
<div style="display: none">
    <div class="side-navigation-drawer" data-modal-id="burgerDrawer">

    </div>
</div>