<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <a href="/" class="footer__logo">
                <svg width="285" height="55" viewBox="0 0 285 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#footerLogo"/>
                </svg>
            </a>
        </div>
        <div class="footer__right">
            <div class="footer__copyright">
                <span>{{{copyright}}}</span>
            </div>
        </div>
    </div>
</footer>