<header class="header container">
    <div class="header__left">
        <a href="/" class="header__logo">
            <svg width="285" height="55" viewBox="0 0 285 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#siteLogo" />
            </svg>
        </a>
    </div>
    <div class="header__middle">
        {{> header-menu }}
    </div>
    <div class="header__right">
        {{> language-switcher }}
        {{> burger }}
    </div>
</header>

