<nav class="header__navigation">
    <ul class="header__navigation-list">
        {{#each menu }}
            <li class="header__navigation-item">
                <a href="{{this.url}}">{{this.label}}</a>
            </li>
        {{/each}}
    </ul>
</nav>