<section id="infoBlock">
    <div class="infoBlock">
        <div class="container">
            <div class="infoBlock__inner mg-block">
                <div class="infoBlock__left title-md">
                    {{{infoBlock.left_text}}}
                </div>
                <div class="infoBlock__right">
                    {{{infoBlock.right_text}}}
                </div>
            </div>
        </div>
    </div>
</section>
