<div class="site-modal">
    <div class="site-modal__window">
        <button class="site-modal__close">
            <svg>
                <use xlink:href="#closeIcon"/>
            </svg>
        </button>
        <div class="site-modal__content" id="modalContentDestination">
            <!--content will here-->
        </div>
    </div>
</div>