@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0rem));
  }
}

body {
  color: var(--color-black);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

a {
  color: inherit;
  font-family: var(--primary-font);
  font-weight: 300;
  transition: color var(--transition);

  &:hover {
    color: var(--color-primary);
  }
}

html {
  &.locked {
    overflow: hidden;
  }
}

html, body {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-button:end:increment, &::-webkit-scrollbar-button:start:decrement {
    background: transparent;
    display: none;
  }
  &::-webkit-scrollbar-track-piece {
    background: var(--color-light-gray);
  }
  &::-webkit-scrollbar-track-piece:vertical:start {
    border-radius: 10px 10px 0 0;
  }
  &::-webkit-scrollbar-track-piece:vertical:end {
    border-radius: 0 0 10px 10px;
  }
  &::-webkit-scrollbar-track-piece:horizontal:start {
    border-radius: 10px 0 0 10px;
  }
  &::-webkit-scrollbar-track-piece:horizontal:end {
    border-radius: 0 10px 10px 0;
  }
  &::-webkit-scrollbar-thumb:horizontal, &::-webkit-scrollbar-thumb:vertical {
    background: var(--color-primary);
    border-radius: 10px;
    display: block;
    height: 100px;
  }
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;

  @media all and (max-width: 1200px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  //@media all and (max-width: 1490px) {
  //  margin: 10px 12px;
  //}
  //
  //@media all and (max-width: 1180px) {
  //  margin: 10px 6px;
  //}
}

//.slider-pagination {
//  display: flex;
//  align-items: center;
//  flex-wrap: wrap;
//  justify-content: center;
//  margin-top: 30px;
//  .swiper-pagination-bullet {
//    width: 8px;
//    height: 8px;
//    border-radius: var(--radius-l);
//    background-color: rgba(var(--white-rgb), .2);
//    transition: var(--transition);
//    margin: 0 4px 8px;
//    &.swiper-pagination-bullet-active {
//      background-color: var(--color-white);
//    }
//  }
//  &.swiper-pagination-lock {
//    display: none;
//  }
//  &--dark {
//    .swiper-pagination-bullet {
//      background-color: rgba(var(--black-rgb), .2);
//      &.swiper-pagination-bullet-active {
//        background-color: var(--color-black);
//      }
//    }
//  }
//}

.form {
  $self: &;
  input, select, textarea {
    border-radius: var(--radius-md);
    min-height: 59px;
    background-color: var(--color-white);
    transition: box-shadow var(--transition);
    box-shadow: none;
    width: 100%;
    padding: 20px 16px;
    font-size: 16px;
    font-family: var(--font-family);
    &::placeholder {
      color: rgba(103, 103, 103, 1);
    }
    &:focus {
      box-shadow: inset 0 0 0 10px solid var(--color-primary);
    }
  }

  &__fields-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 -10px;
    #{$self}__field {
      margin: 0 10px 24px;
      width: calc(50% - 20px);

      @media all and (max-width: 960px) {
        margin: 0 0 18px;
        width: 100%;
      }
    }

    @media all and (max-width: 960px) {
      margin: 0;
      flex-direction: column;
    }
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(var(--dark-rgb), .2);
    margin: 0 6px;
    transition: background-color var(--transition);
    &.swiper-pagination-bullet-active {
      background-color: var(--color-dark);
    }
  }
}

.mg-block {
  margin-bottom: 140px;

  @media all and (max-width: 1280px) {
    margin-bottom: 80px;
  }
}

.title-sm {
  font-size: 24px;
  font-weight: 600;
}

.title-md {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--primary-font);

  @media all and (max-width: 767px) {
    font-size: 25px;
  }
}

.title-lg {
  font-size: 42px;
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-weight: 600;

  @media all and (max-width: 639px) {
    font-size: 27px;
  }

  @media all and (max-width: 479px) {
    font-size: 20px;
  }
}

.marquee {
  animation: scroll 30s linear infinite;
}

.bl-gradient {
  border-radius: var(--radius-xl);
  padding: 52px;
  background-color: #DDFCF5;
  background-image: var(--primary-gradient);
}