:root {
  --initial-font: "Arial", "Helvetica", "sans-serif";
  --font-family: "Gilroy", var(--initial-font);
  --primary-font: "Stapel", var(--font-family);
  --secondary-font: "StapelExpanded", var(--font-family);
  --tertiary-font: "StapelSemiExpanded", var(--secondary-font);

  --font-weight-r: 400;
  --font-weight-m: 500;
  --font-weight-s: 600;
  --font-weight-b: 700;

  --container-width: 1200px;

  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;
  --radius-xxl: 100px;

  --transition: .3s;
}